<div class="page print-one-line-header" data-pathname="/technologies">
  <header>
    <h1 class="print-hidden">
      Technologies
    </h1>
    <h2 class="print-only">
      Technologies
    </h2>
  </header>
  <div class="page__description print-hidden">
    <p>
      A list of the technologies I used over the years.
    </p>
  </div>
  <div class="table">
    <div class="table__tab-bar print-hidden">
      {{#each technologies}}
        <button id="{{@key}}" class="table__tab {{#ifEquals @index 0}}table__tab--active{{/ifEquals}}">
          {{@key}}
        </button>
      {{/each}}
    </div>
    <div class="table__body">
      {{#each technologies}}
        <div data-button-id="{{@key}}" class="table__body__list {{#ifEquals @index 0}}table__body__list--active{{/ifEquals}}">
          {{#each this}}
            <div class="tech-item">
              {{name}}
              {{#if other}}
                  <span class="minitext">{{other}}</span>
              {{/if}}
              <div class="tech-item__badges">
                {{#each labels}}
                  <tech-badge type="{{this}}"></tech-badge>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class="notation">
    <h4 class="notation__header print-hidden">
      <button id="notationButton">
        <i class="fa-solid fa-angle-right"></i>
        Notation
      </button>
    </h4>
    <ul class="notation__body">
      <li class="notation__item">
        <tech-badge type="work"></tech-badge>
        Work experience
      </li>
      <li class="notation__item">
        <tech-badge type="confident"></tech-badge>
        Great confidence
      </li>
      <li class="notation__item">
        <tech-badge type="out-of-date"></tech-badge>
        Not up to date as not having been used recently
      </li>
    </ul>
  </div>
</div>